
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>江西博克集团</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="HandheldFriendly" content="True" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">       
    <link rel="stylesheet" type="text/css" href="css/nav.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
	
	<!--[if lt IE 9]>
	<meta name="viewport" content="width=960px, initial-scale=1, maximum-scale=1" />
	<script src="js/html5shiv.js"></script>
	<![endif]-->
	
	<!--[if lt IE 9]>
	<link href="css/bootstrap-ie7.css" rel="stylesheet">
	<script src="js/css3-mediaqueries.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- 头部开始 -->
<div class="banner" >
	<div class="header">
		<div class="container">
			<div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
			<div class="search-bar">
				<input type="text"  value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}">
				<input type="submit" value="" />
			</div>
				
			<div class="banner-top">
				<ul class="nav banner-nav">                                     
					<li><a class="active" href="index.html">首页</a></li>
					<li class="dropdown1"><a class="down-scroll" href="#">博克集团</a>
						<ul class="dropdown2">
							<li><a href="#">集团介绍</a></li>
							<li><a href="leader.html">领导团队</a></li>
							<li><a href="#">企业文化</a></li>
						</ul>
					</li>     
					<li class="dropdown1"><a href="product-detail.html">产品与服务</a>
						<ul class="dropdown2">
							<li><a href="product-detail.html">主要产品介绍</a></li>
							<li><a href="service.html">服务介绍</a></li>
						</ul>
					</li>  
					<li class="dropdown1"><a class="down-scroll" href="#">新闻中心</a></li> 
					<li class="dropdown1"><a class="down-scroll" href="#">人力资源</a>
						<ul class="dropdown2">
							<li><a href="#">社会招聘</a></li>
							<li><a href="#">校园招聘</a></li>
							<li><a href="#">实习招聘</a></li>
						</ul>
					</li>
				</ul>
				<script>
					$("span.menu").click(function(){
						$(" ul.nav").slideToggle("slow" , function(){
						});
					});
				</script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="banner-info">
		<h1>我们是你最好的选择</h1>
		<p>博克集团是江西省.....，旗下有江西博世金电有限公司....公司实力雄厚，是江西最大的金融集团之一</p>
	</div>
</div>


	<div class="container iconbar">
		<div class="row">
			<div class="col-xs-4">
				<div class="singleIconBox icon1">
					<a href=""><i class="fa fa-map-marker"></i></a>
					<h1 class="iconH1">博克集团</h1>
					<p class="iconP">这是一部分的图表介绍</p>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="singleIconBox icon2">
					<a href=""><i class="fa fa-cubes"></i></a>
					<h1 class="iconH1">博克集团</h1>
					<p class="iconP">这是一部分的图表介绍</p>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="singleIconBox icon3">
					<a href=""><i class="fa fa-cogs"></i></a>
					<h1 class="iconH1">博克集团</h1>
					<p class="iconP">这是一部分的图表介绍</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="imageBar1">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<div class="imageBox">
						<img src="images/3.png" alt="" />
					</div>
				</div>
				<div class="col-xs-6">
					<div class="imageTitleBox">
						<h1 class="companyIntro">最好的第三方在线支付公司 为您服务</h1>
						<p class="companyIntroDetail">
							博克集团是最好的第三方在线支付公司博克集团是最好的第三方在线支付公司
							博克集团是最好的第三方在线支付公司博克集团是最好的第三方在线支付公司
							博克集团是最好的第三方在线支付公司博克集团是最好的第三方在线支付公司
							博克集团是最好的第三方在线支付公司博克集团是最好的第三方在线支付公司					
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="fallImage">
		<div class="container">
			<div class="row">
				<div class="col-xs-12"></div>
			</div>
		</div>
	</div>
	
	<div class="container imageBar2">
		<div class="row">
			<div class="col-xs-6">
				<div class="imageTitleBox">
					<h1 class="companyIntro">创新 实践 伟大 哈哈 哈哈</h1>
					<p class="companyIntroDetail">
						博克集团是最好的第三方在线支付公司博克集团是最好的第三方在线支付公司
						博克集团是最好的第三方在线支付公司博克集团是最好的第三方在线支付公司
						博克集团是最好的第三方在线支付公司博克集团是最好的第三方在线支付公司
						博克集团是最好的第三方在线支付公司博克集团是最好的第三方在线支付公司
					</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="imageBox">
					<img src="images/2.png" alt="" />
				</div>
			</div>
		</div>
	</div>
	
<div class="productBox">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<div class="singleProduct">
					<a href="">
						<div class="ProductThumb">
							<img src="images/1.png" alt="" title="">
						</div>
						<div class="ProductContent">
							<div class="content-show">
								<h2>产品1</h2>
							</div>
							<div class="content-hide">
								<p>这是一段简短的介绍</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="singleProduct">
					<a href="">
						<div class="ProductThumb">
							<img src="images/2.png" alt="" title="">
						</div>
						<div class="ProductContent">
							<div class="content-show">
								<h2>产品2</h2>
							</div>
							<div class="content-hide">
								<p>这是一段简短的介绍</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="singleProduct">
					<a href="">
						<div class="ProductThumb">
							<img src="images/3.png" alt="" title="">
						</div>
						<div class="ProductContent">
							<div class="content-show">
								<h2>产品3</h2>
							</div>
							<div class="content-hide">
								<p>这是一段简短的介绍</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<div class="singleFootItem">
					<h1 class="singleFooterTitle">友情链接</h1>
					<ul class="footerLinkBox">
						<li><a href="">友情链接1</a></li>
						<li><a href="">友情链接2</a></li>
						<li><a href="">友情链接3</a></li>
						<li><a href="">友情链接4</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="singleFootItem">
					<h1 class="singleFooterTitle">联系我们</h1>
					<ul class="footerLinkBox">
						<li>公司地址：英国 伦敦 唐宁街223号</li>
						<li>联系方式：0791-88316800</li>
						<li>公司传真：0791-88316800</li>
						<li>公司地址：英国 伦敦 唐宁街223号</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="singleFootItem">
					<h1 class="singleFooterTitle">加入我们</h1>
					<ul class="footerLinkBox">
						<li><a href="">校园招聘</a></li>
						<li><a href="">社会招聘</a></li>
						<li><a href="">实习招聘</a></li>
						<li>And So On...</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="singleFootItem">
					<h1 class="singleFooterTitle">关注我们</h1>
					<img src="images/wechat.png" alt="" class="wechat" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="copyright">
					<p>Copyright All Right reserved by 江西博克集团有限公司 赣审-0161131013号</p>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script src="js/jquery.easydropdown.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/		
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	

	
</html>